
		<div class="box">
			<div class="box_title">
				<h4>视频标签</h4>
			</div>
			<ul class="tag_list clearfix">
				<% 10.times do %>
				<li><a href="#">太极</a></li>
				<% end %>
			</ul>
		</div>