/* CSS Document */

.flashpics{float:left;display:inline;padding:10px;width:280px;height:448px;background:#f0ebe5;margin-top:10px;margin-left:0px;}
	.flashpics img{width:280px;}
.new_topics{float:right;display:inline;width:320px;}
	.new_topics_title{margin-top:10px;padding-left:10px;padding-bottom:6px;height:20px;line-height:20px;font-size:14px;font-weight:bold;background:url(/images/hatch.gif) repeat-x left bottom;}
	.new_topics_list{margin-top:6px;}
		.new_topics_list li{padding:0 6px;height:28px;line-height:28px;width:288px;overflow:hidden;white-space:nowrap;border-bottom:1px solid #EBEBEB;}
		.new_topics_list li a{font-size:14px;}