
	<div id="Main">
		<div class="clearfix">
			<div class="flashpics">				
				<div id="loopedSlider">
					<div class="container">
						<div class="slides">
							<% 3.times do %>
							<div>
								<p class="featured-thumb">
									<a href="#"><img src="/images/201103241633160.jpg" alt="" /></a>
								</p>
								<h2 class="entry-title">
									<a href="http://www.gamelook.com.cn/?p=32034" title="Permalink to 谷歌宣布Android3.0暂停开源:合作限大厂" rel="bookmark">谷歌宣布Android3.0暂停开源:合作限大厂</a>
								</h2>
							</div>
							<% end %>
						</div>
					</div>
					<ul class="pagination">
						<li><a href="#" rel="1">1</a></li>
						<li><a href="#" rel="2">2</a></li>
						<li><a href="#" rel="3">3</a></li>
					</ul>
				</div>
				<script type="text/javascript" charset="utf-8">
					$(function(){
						$('#loopedSlider').loopedSlider();
					});
				</script>
			</div>
			<div class="new_topics">
				<div class="new_topics_title">最新时尚</div>
				<ul class="new_topics_list">
					<% 15.times do %>
					<li><a href="#">搞笑广告百事可乐功夫和尚恶搞啊搞笑广告百事可乐功夫和尚恶搞啊</a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="box">
			<div class="box_title">
				<h3><a href="#">明星装扮</a></h3>
			</div>
			<div class="box_content clearfix">
				<div class="box_re_pic_item">
					<img src="/images/201103241453390.jpg" alt="" />
					<div class="box_re_pic_item_txt"><a href="#">搞笑广告百事可乐功夫和尚恶搞啊</a></div>
				</div>
				<div class="box_items">
					<div class="box_re_item">
						<h4><a href="#">搞笑广告百事可乐功夫和尚恶搞啊</a></h4>
						<p>搞笑广告百事可乐功夫和尚恶搞啊搞笑搞笑广告百事可乐功夫和尚恶搞啊广告百事可乐功夫和尚恶搞啊...<a href="#">[更多详细]</a></p>
					</div>
					<ul class="box_item_list clearfix">
						<% 8.times do %>
						<li>
							·<a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊">搞笑广告百事可乐功夫和尚恶搞啊</a>
						</li>
						<% end %>
					</ul>
					<ul class="box_item_list clearfix">
						<% 8.times do %>
						<li>
							·<a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊">搞笑广告百事可乐功夫和尚恶搞啊</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="box_title">
				<h3><a href="#">明星装扮</a></h3>
			</div>
			<div class="box_content clearfix">
				<div class="box_re_pic_item">
					<img src="/images/201103241453390.jpg" alt="" />
					<div class="box_re_pic_item_txt"><a href="#">搞笑广告百事可乐功夫和尚恶搞啊</a></div>
				</div>
				<div class="box_items">
					<div class="box_re_item">
						<h4><a href="#">搞笑广告百事可乐功夫和尚恶搞啊</a></h4>
						<p>搞笑广告百事可乐功夫和尚恶搞啊搞笑搞笑广告百事可乐功夫和尚恶搞啊广告百事可乐功夫和尚恶搞啊...<a href="#">[更多详细]</a></p>
					</div>
					<ul class="box_item_list clearfix">
						<% 8.times do %>
						<li>
							·<a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊">搞笑广告百事可乐功夫和尚恶搞啊</a>
						</li>
						<% end %>
					</ul>
					<ul class="box_item_list clearfix">
						<% 8.times do %>
						<li>
							·<a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊">搞笑广告百事可乐功夫和尚恶搞啊</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="box_title">
				<h3><a href="#">明星装扮</a></h3>
			</div>
			<div class="box_content clearfix">
				<div class="box_re_pic_item">
					<img src="/images/201103241453390.jpg" alt="" />
					<div class="box_re_pic_item_txt"><a href="#">搞笑广告百事可乐功夫和尚恶搞啊</a></div>
				</div>
				<div class="box_items">
					<div class="box_re_item">
						<h4><a href="#">搞笑广告百事可乐功夫和尚恶搞啊</a></h4>
						<p>搞笑广告百事可乐功夫和尚恶搞啊搞笑搞笑广告百事可乐功夫和尚恶搞啊广告百事可乐功夫和尚恶搞啊...<a href="#">[更多详细]</a></p>
					</div>
					<ul class="box_item_list clearfix">
						<% 8.times do %>
						<li>
							·<a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊">搞笑广告百事可乐功夫和尚恶搞啊</a>
						</li>
						<% end %>
					</ul>
					<ul class="box_item_list clearfix">
						<% 8.times do %>
						<li>
							·<a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊">搞笑广告百事可乐功夫和尚恶搞啊</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="box_title">
				<h3><a href="#">明星装扮</a></h3>
			</div>
			<div class="box_content clearfix">
				<div class="box_re_pic_item">
					<img src="/images/201103241453390.jpg" alt="" />
					<div class="box_re_pic_item_txt"><a href="#">搞笑广告百事可乐功夫和尚恶搞啊</a></div>
				</div>
				<div class="box_items">
					<div class="box_re_item">
						<h4><a href="#">搞笑广告百事可乐功夫和尚恶搞啊</a></h4>
						<p>搞笑广告百事可乐功夫和尚恶搞啊搞笑搞笑广告百事可乐功夫和尚恶搞啊广告百事可乐功夫和尚恶搞啊...<a href="#">[更多详细]</a></p>
					</div>
					<ul class="box_item_list clearfix">
						<% 8.times do %>
						<li>
							·<a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊">搞笑广告百事可乐功夫和尚恶搞啊</a>
						</li>
						<% end %>
					</ul>
					<ul class="box_item_list clearfix">
						<% 8.times do %>
						<li>
							·<a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊">搞笑广告百事可乐功夫和尚恶搞啊</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="Side">
		<%= render "/partials/side" %>
	</div>