
	<div id="Main">
		<div class="box">
			<div class="box_title">
				<h4><a href="#">功夫视频</a></h4>
			</div>
			<ul class="v_list clearfix">
				<% 8.times do %>
				<li>
					<div class="v_cover"><a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊"><img src="/images/icon.jpg" alt="搞笑广告百事可乐功夫和尚恶搞啊" /></a></div>
					<div class="v_title"><a href="#" title="搞笑广告百事可乐功夫和尚恶搞啊">搞笑广告百事可乐功夫和尚恶搞啊</a></div>
				</li>
				<% end %>
			</ul>
		</div>
		<div class="box" style="margin-top:10px;">
			<div class="box_title">
				<h4><a href="#">功夫电影</a></h4>
			</div>
			<ul class="v_list clearfix">
				<% 8.times do %>
				<li>
					<div class="v_cover"><a href="#"><img src="/images/icon.jpg" /></a></div>
					<div class="v_title"><a href="#">搞笑广告百事可乐功夫和尚恶搞啊</a></div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="Side">
		<%= render "/partials/side" %>
	</div>