
	<div id="Main">
		<div class="box">
			<div class="box_title">
				<h5>您当前位置: <a href="/">都市女性</a> &gt; <a href="/c/<%= @category.alias %>"><%= @category.name %></a></h5>
			</div>
			<div class="topic_info clearfix">
				<div class="topic_title">《回家的诱惑》李彩桦人气靓丽装扮，爱美网服饰</div>
				<div class="topic_from">
					<a href="/">都市女性</a> http://www.lady265.com
					[2011-03-30] 出处：爱美网 编辑：小cha
				</div>
				<div class="topic_content">
				外形一直清纯靓丽的“玉女派”<a href="#">掌门人</a>李彩桦因上演电视连续剧《回家的诱惑》人气又再蹿红一时。剧中她一改往日清纯，以轻熟干练的OL形象引起了广大粉丝的追捧。下面就让我们来看一下身材高挑的她的穿衣搭配技巧吧！
				</div>
				<div class="topic_pagination">
					<a href="#" class="current">1</a><a href="#">2</a>
				</div>
			</div>
		</div>
	</div>
	<div id="Side">
		<%= render "/partials/side" %>
	</div>